*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: var(--creamy);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--creamy);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-gradient);
  border-radius: 0.8rem;
}

.flex {
  display: flex;
}

.flx-dir-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.border {
  border-bottom: 1px solid var(--lingo-bg);
}

.bg-header {
  display: none;
}

.header__wrapper--items {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2.4rem;
  padding-top: 2rem;
}

.logo {
  width: 80px;
}

.nav {
  display: none;
}

.intro {
  margin-bottom: 14.2rem;
  padding: 2.4rem;
  min-height: 54rem;
  border-bottom: 1px solid var(--border-color);
  border-bottom-left-radius: 10rem;
}

.info__items {
  padding-block: 12rem;
  gap: 1.3rem;
}

.info__heading {
  min-width: 22rem;
}

.info__subheading {
  margin-bottom: 9px;
}

.info__social li {
  padding-right: 2rem;
}

.works {
  grid-gap: 8rem;
  margin-inline: 2.4rem;
}

.card {
  padding: 1.6rem;
  border: 2px solid var(--border-color);
  border-radius: 3rem;
  grid-gap: 1.2rem;
}

.card__img {
  max-width: 100%;
  border-radius: 1.9rem;
}

.card__info {
  grid-gap: 1rem;
}

.card__tags {
  padding-block: 1rem;
  gap: 1.4rem;
}

.dot {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  align-self: center;
}

.card__description {
  padding-bottom: 1.5rem;
}

.card__lango {
  gap: 0.8rem;
}

.card__lists {
  padding: 0.4rem 1.2rem;
  border-radius: 0.8rem;
}

.card__button {
  margin: 2rem 0;
  padding: 1.2rem;
  width: 10rem;
  align-self: start;
  border: 0.1rem solid var(--blue);
  border-radius: 1.3rem;
}

.about {
  margin-top: 11.4rem;
  padding: 6rem 2.4rem 4rem;
  border-top: 1px solid var(--border-color);
  border-radius: 0 10rem 0 0;
}

.about__wrapper {
  padding-block: 12rem;
  gap: 1.3rem;
}

.about--wrapper {
  gap: 1rem;
}

.info__heading--about {
  max-width: 10rem;
}

.info__subheading--about {
  margin: 1rem 0 2rem;
}

.info__social--about {
  padding-left: 2.2rem;
}

.card__button--about {
  width: 18rem;
}

.skills summary {
  justify-content: space-between;
  padding: 2.4rem;
}

.arrow {
  transform: rotate(90deg);
}

.lang {
  margin-top: 2rem;
}

.lang__items {
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.8rem;
  grid-template-columns: 1fr 4fr;
}

.lang__items h4 {
  align-self: center;
}

.contact {
  padding: 12rem 2.4rem 3rem;
  border-top-left-radius: 10rem;
  align-items: center;
  text-align: center;
}

.contact__heading {
  padding-top: 3rem;
}

.contact__info {
  margin-block: 1.2rem 6rem;
  min-width: 33rem;
}

.form__items {
  gap: 1.8rem;
}

.input {
  padding: 1rem;
  width: 90%;
  border-radius: 0.8rem;
  border-style: none;
}

.footer__btn {
  align-self: flex-start;
  margin-left: 1rem;
  width: 11rem;
  border-radius: 0.8rem;
  border-style: none;
  padding: 1.2rem;
}
